@model MovieRental.Movie

@{
    ViewBag.Title = "Details";
}



<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)

    <div class="=row" style="border:2px solid #00ffff; border-radius:5px">
        <br />
        <div class="col-sm-10">
            <fieldset disabled>
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Director, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Director, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Director, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Availbility, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Availbility, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Availbility, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.genreID, "genreID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@Html.DropDownList("genreID", null, htmlAttributes: new { @class = "form-control" })*@
                        @Html.ValidationMessageFor(model => model.genreID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.price, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="col-sm-2">
            <div>
                <img src="@Model.Image" alt="" style="width:100%; height:auto; position:relative;left: -100px;" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10" >
                @*<input style="position:relative;left:120px;top:57px;" type="submit" value="Save" class="btn btn-default" / >*@
             @if(ViewBag.currentRent == null) {
               using (Html.BeginForm("details", "Movie", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                       

                        <div class="form-group" hidden>
                            <div class="col-md-10">
                                <input type="hidden" value="@Model.id" type="text" id="PropertyName1" name="movieid" class="form-control" />

                            </div>
                        </div>



                        <div class="form-group" style="position:relative;left:50px;top:27px;">


                            <input type="submit" value="Rent" class="btn btn-primary" />

                        </div>
                    </div>
                }
             }
             else
             {
                using (Html.BeginForm("details", "Movie", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                        <div class="form-group" hidden>
                            <div class="col-md-10">
                                <input type="hidden" value="@Model.id" type="text" id="PropertyName1" name="returnmovieid" class="form-control" />

                            </div>
                        </div>



                        <div class="form-group">


                            <input style="position:relative;left:50px;top:27px;" type="submit" value="Return" class="btn btn-primary" />

                        </div>
                    </div>
                }

             }

            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "index","Home")
</p>
